* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-colors: #0c0c0c;
  --text-color: #ffffff;
  --padding: 23px;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary-colors);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.information {
  padding: 23px;
}

.info {
  padding: 3px;
  margin: 23px;
  display: flex;
  justify-content: space-around;
}

.board {
  border: 1px solid white;
  flex-grow: 1;
}
