* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: white;
  --basic-padding: 12px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100vw;
  height: 100vh;
  padding: var(--basic-padding);
  flex-direction: column;
  display: flex;
}

header {
  padding: var(--basic-padding);
  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  border: 1px solid white;
  flex-grow: 1;
}

.block {
  height: 80px;
  width: 80px;
  border: 1px solid gray;
}

.snake {
  background-color: gray;
}
