* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: white;
  --margin-top: 22px;
  --padding: 12px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  padding: var(--padding);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: var(--padding);
  margin: var(--margin-top);
  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(22px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(22px, 1fr));
  border: 2px solid white;
  flex-grow: 1;
}

.block {
  height: 22px;
  width: 22px;
  border: 1px solid white;
}
