* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: white;
  --basic-padding: 22px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  padding: var(--basic-padding);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

main header {
  display: flex;
  justify-content: space-around;
  padding: var(--basic-padding);
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  border: 1px solid white;
  flex-grow: 1;
}

.block {
  width: 80px;
  height: 80px;
  border: 2px solid gray;
}

.snake {
  background-color: gray;
}

.food {
  background-color: blue;
}

.start-game {
  width: 100vw;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(2px);
  display: grid;
  place-content: center;
}

.start-btn {
  cursor: pointer;
  background-color: blue;
  padding: var(--basic-padding);
  font-size: 22px;
}
