* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: white;
  --basic-padding: 12px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100vw;
  height: 100vh;
  padding: var(--basic-padding);
  flex-direction: column;
  display: flex;
}

header {
  padding: var(--basic-padding);
  display: flex;
  justify-content: space-around;
}

.board {
  border: 1px solid white;
  flex-grow: 1;
}

.block {
  height: 22px;
  width: 22px;
  border: 1px solid gray;
}
