* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 22px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  border: 1px solid #ff8225;
  flex-grow: 1;
}

.block {
  width: 20px;
  height: 20px;
  border: 1px solid #a8bba3;
}
