button {
  padding: 20px;
  cursor: pointer;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}
