button {
  padding: 20px;
  border: 2px solid black;
  color: white;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
  color: black;
}

#green {
  background-color: green;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}

#salmon {
  background-color: salmon;
}
